#app{
    height:100%;
    width:100%;
    position:relative;
}

#static{
    height:270px;
    width:60%;
    position:absolute;
}
#map{
    height:270px;
    width:40%;
    right:0;
    position:absolute;
}

#dynamic{
    height:490px;
    width:100%;
    top:270px;
    position: absolute;
}

#static_container{
    height:200px;
    width:80%;
    position:absolute;
    top:25px;
    left:90px;
}

#dynamic_form_container{
    height:100px;
    width:80%;
    position:absolute;
    top:20px;
    margin-left:250px;
    margin-right:0px;
}

#dynamic_table_container{
    height:250px;
    width:80%;
    position:absolute;
    top:170px;
    margin-left:150px;
    margin-right:0px;
}

#dynamic_buttons{
    width:80%;
    height:50px;
    top:120px;
    margin-left:150px;
    position:absolute;
}

#button_container_1{
    left: 30%;
    position:absolute;
}

#button_container_2{
    right: 30%;
    position:absolute;
}


