body, html {
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: black;
}

.content{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s;
}

.row{
    margin: 0;
    padding: 0;
}

.vdp-datepicker input{
    height: calc(2.25rem + 2px);
    width: 100% !important;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.dodaj{
    margin-top: 40px;
}


