<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="http://twitter.com/favicons/favicon.ico">

    <!--Bootsrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--Własne CSS-->
    <link rel="stylesheet" href="/static/css/style.css">

    <!--VUE.JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      
    <!--VUE.JS DATAPICKER-->
    <script src="/static/js/vuejs-datepicker.js"></script>

    <!--VUE.JS typeahead-->
    <script src="https://unpkg.com/vue-bootstrap-typeahead"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>     
    
    

  </head>

  <body>
<div id="app" class="content">

  <!--I część input + map-->
  
  <section>
    <div class="row">

      <!--INPUTY-->
      <div class="col-lg-6 m-2">
        <label class="m-0 mt-2" for="mail">Mail:</label>
        <input v-model="mail" placeholder="Adres e-mail:" type="email" class="form-control">        
        <label class="m-0 mt-2" for="date">Data:</label> 
        <vuejs-datepicker v-model="date" placeholder="Wybierz datę" format="d MMMM yyyy"></vuejs-datepicker>
        <label class="m-0 mt-2" for="company">Firma:</label>
        <select v-model="company" id="firma" class="form-control">
          <option disabled value="">Wybierz firmę </option>
        </select>
      </div>

      <!-- Map-->
      <div class="col border m-2">

      </div>
    </div>
  </section>


<!--II część input + button -->
  <section>
    <div class="row justify-content-md-center">
      <div class="col-lg-4 m-2 form-group">
        <label for="adress">Adres:</label>
        <vue-bootstrap-typeahead 
          v-model="query"
          :data="baza"
          :serializer="item => item.ulica + ' ' + item.numer"
          placeholder="Wpisz adres"/>
      </div> 
      <div class="col-lg-2 m-2">
          <label for="fliers">Ulotki:</label>
          <input v-model="fliers" placeholder="Wpisz liczbę ulotek:" type='number' class="form-control">   
      </div> 
      <div class="col-xs-1 dodaj"> 
        <button type="button" class="btn btn-primary" @click="addItem">Dodaj dane</button>
      </div>
    </div>

    <div class="row justify-content-md-center">

    </div>
  </section>

  <!--III część TABELA-->
  <section>
    <div class="row justify-content-md-center m-2 mt-4">
      <div class="col-lg-10">
        <table class="table" id="mytable">
          <thead>
            <td>Mail</td>
            <td>Data</td>
            <td>Firma</td>
            <td>Ulica</td>
            <td>Numer</td>
            <td>Ulotki</td>
          </thead>
          <tbody>
            <tr v-for="item in rowData" >
              <td v-text="item.mail"></th>
              <td v-text="item.date"></td>
              <td v-text="item.company"></td>
              <td v-text="item.ulica"></td>
              <td v-text="item.numer"></td>
              <td v-text="item.fliers"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-1">
        <button type="button" class="btn btn-success m-2" onClick="doCsv()">Pobierz dane</button>
      </div>
    </div>
  </section>

</div>

<!--Własne scripts-->
  <script src="/static/js/script.js"></script> 
  <script src="/static/js/login.js"></script> 
      
  </body>
</html>