<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='easy-autocomplete.css')}}">
        <script src="{{url_for('static', filename='login.js')}}"></script>
        <script src="{{url_for('static', filename='jquery.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>                  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/pl.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://unpkg.com/vue-bootstrap-typeahead"></script>
        <script src="{{url_for('static', filename='jquery.easy-autocomplete.js')}}"></script>
    </head>
    <body>
        <div id="app">
            <div id="static">
                <div id="static_container">>
                <div class="col-xs-12">
                    <label for="mail">Mail:</label>
                    <input v-model="mail" placeholder="Adres e-mail:" type="text" class="form-control" id="mail">        
                </div>
                <div class="col-xs-12">
                    <label for="date">Data:</label>
                    <div class='input-group date' id='datepicker1'>
                    <input v-model="date" placeholder="Wybierz datę:" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <label for="company">Firma:</label>
                    <input id="input_company" v-model="company" placeholder="Podaj firmę:" type='text' class="form-control" >
                </div> 
                </div>
            </div>
            <div id="map">

            </div>
            <div id="dynamic">
                <div id="dynamic_form_container">
                        <div class="col-xs-8" id="prefetch">
                            <label for="adress">Adres:</label>
                            <input id="provider-json" v-model="adress" placeholder="Podaj adres:" type='text' class="form-control" onChange="update()">
                        </div> 
                        <div class="col-xs-2" id="fliers_div">
                            <label for="fliers">Ulotki:</label>
                            <input v-model="fliers" placeholder="Wpisz liczbę ulotek:" type='number' class="form-control">   
                        </div>    
                </div>
                <div id="dynamic_buttons">
                    <div id="button_container_1">
                        <button type="button" class="btn btn-primary" @click="addItem">Dodaj dane</button>
                    </div>
                    <div id="button_container_2" onClick="doCsv()">
                        <button type="button" class="btn btn-success">Pobierz dane</button>
                    </div>
                    <div id="container" style="display:none;"></div>
                </div>
                <div id="dynamic_table_container">
                        <table class="table" id="mytable">
                                <thead>
                                    <td>Mail</td>
                                    <td>Data</td>
                                    <td>Firma</td>
                                    <td>Adres</td>
                                    <td>Ulotki</td>
                                </thead>
                                <tbody>
                                    <tr v-for="item in rowData" >
                                      <td v-text="item.mail"></th>
                                      <td v-text="item.date"></td>
                                      <td v-text="item.company"></td>
                                      <td v-text="item.adress"></td>
                                      <td v-text="item.fliers"></td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='script.js')}}" type="module"></script>
        <script>

        
        $(function () {
            $('#datepicker1').datetimepicker({locale:'pl',format:'L'});
            });
        
        

        function doCsv() {
                var table = document.getElementById("mytable").innerHTML;
                var data = table.replace(/<thead>/g, '')
                    .replace(/<\/thead>/g, '')
                    .replace(/<tbody>/g, '')
                    .replace(/<\/tbody>/g, '')
                    .replace(/<tr>/g, '')
                    .replace(/<th>/g, '')
                    .replace(/<\/th>/g, ';')
                    .replace(/<td>/g, '')
                    .replace(/<\/td>/g, ';')
                    .replace(/\s/g, '')
                    .replace(/<\/tr>/g, '\r\n');
                var mylink = document.createElement('a');
                mylink.download = "csv.csv";
                mylink.href = "data:application/csv," + escape(data);
                document.getElementById('container').appendChild(mylink);
                mylink.click();
            }

       
        
      

      
        </script>
        
        
    </body>
</html>